<div class="row">
    <div class="col">

        <a
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{{ path('app_index') }}"
        >
            {{ 'Home'|trans }}
            {#
            {{ ux_icon('user-profile') }}
            #}
        </a>

        <a
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{{ path('app_compressor_index') }}"
        >
            {{ 'Compressor'|trans }}
        </a>

    </div>
</div>
