<div {{ attributes }} data-turbo="false">
    {{ form_start(form) }}

    {{ form_row(form.command) }}
    {{ form_row(form.media) }}

    <button
        data-action="live#action:prevent"
        data-live-action-param="files(media[])|save"
        class="btn btn-primary"
    >
        {{ 'Convert'|trans }}
    </button>

    {{ form_end(form, {
        render_rest: true,
    }) }}
</div>
